/* button class */
.button {
	border-style: solid;
	border-width: small;
	border-color: black; 
	border-radius: 5px;

	height: 30px;
	width: 100px;

	padding: 5px;
	display: inline-block;

	text-align: center;
	text-decoration: none;
	color: black;
	font-family: Verdana, serif;
	font-size: 1em;
}

a:hover {
	font-family: cursive;
}

/* color ID's */
#green {
	background-color: green;
}

#red {
	background-color: red;
}

#yellow {
	background-color: yellow;
}

#blue {
	background-color: blue;
}

